<h1>@zestia/ember-auto-focus</h1>

{{#if this.shouldShowInput}}
  <input {{auto-focus}}>
{{/if}}

<p>
  <button {{on "click" this.showInput}} type="button">Show input</button>
  <button {{on "click" this.hideInput}} type="button">Hide input</button>
</p>


{{#if this.shouldShowComponent}}
  <div class="outer" {{auto-focus ".inner > .foo"}}>
    <span class="inner">
      <div class="foo" tabindex="0"></div>
    </span>
  </div>
{{/if}}

<p>
  <button {{on "click" this.showComponent}} type="button">Show component</button>
  <button {{on "click" this.hideComponent}} type="button">Hide component</button>
</p>